h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  font-weight: 100;
  text-decoration: underline;
}

a {
  background-color: yellow;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  font-weight: 100;
  text-decoration: underline;
}

.blog {
  width: 220px;
  background-color: beige;
  border-style: outset;
  border-color: black;
  float: left;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}